/* fv */
.fv {
    margin-top: 40px;
    position: relative;
    max-width: 1320px;
    margin-inline: auto;
    width: 90%;
}

.fv_headline {
    position: absolute;
    bottom: 10%;
    left: 12%;
    z-index: 2;
}

.fv_container {
    display: flex;
    justify-content: space-between;
    align-items: end;
    gap: 20px;
}

.fv_title {
    background-color: #fff;
    font-size: 88px;
    font-weight: 700;
    /* color: #FFF; */
    font-family: 'Outfit', sans-serif;
    background-image: url("/images/Ellipse6.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 600px 200px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Firefox対応 */
    background-clip: text;
    color: transparent;
}

@media screen and (max-width: 1024px) {
    .fv_title {
        font-size: 60px;
    }
}

@media screen and (max-width: 768px) {
    .fv_title {
        font-size: 40px;
    }
}

.fv_text {
    font-size: 24px;
    color: #FFF;
}

.fv_left {
    width: 380px;
    margin-bottom: 0px;
}

.fv_center {
    width: 420px;
    margin-bottom: 40px;
}

.fv_right {
    width: 380px;
    margin-bottom: 80px;
}

.fv_img {
    display: block;
    max-height: 700px;
    height: 48vw; /* 縦幅を固定 */
    width: auto; /* 横幅を自動調整して縦横比を維持 */
    object-fit: cover;
    border-radius: 30px;
    z-index: 1;
}

/* mission */
.mission {
    position: relative;
    margin-top: 130px;
}

.mission::before {
    background-image: url("/images/Ellipse6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    width: 330px;
    height: 330px;
    top: 100px;
    left: 0;
    z-index: -1;
}

.mission_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .mission_container {
        flex-direction: column-reverse;
        
    }
}

.mission_img {
    width: 580px;
    height: 580px;
    position: relative;
}

@media screen and (max-width: 768px) {
    .mission_img {
        display: block;
        width: 100%;
        height: 300px;
    }
}

.mission_img_bigger {
    max-width: 480px;
    max-height: 480px;
    object-fit: cover;
    border-radius: 30px;
    width: calc(480 / 1440 * 100vw);
    height: calc(480 / 1440 * 100vw);
}

.mission_img_smaller {
    max-width: 294px;
    max-height: 189px;
    object-fit: cover;
    border-radius: 30px;
    position: absolute;
    left: min(calc(300 / 1440 * 100vw), 300px);
    top: min(calc(380 / 1440 * 100vw), 400px);
    width: calc(294 / 1440 * 100vw);
    height: calc(189 / 1440 * 100vw);
}

.mission_description {
    width: 500px;
}

@media screen and (max-width: 768px) {
    .mission_description {
        width: 100%;
    }
}

.mission_title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
    .mission_title {
        font-size: 32px;
    }
}

.mission_text {
    font-size: 20px;
    line-height: 2;
    margin-bottom: 40px;
}

@media screen and (max-width: 1024px) {
    .mission_text {
        font-size: 16px;
    }
}

.mission_button {
    background-color: #333;
    color: #FFF;
}

/* strengths */
.strengths {
    margin-top: 100px;
    padding-bottom: 130px;
}

.strengths_container {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .strengths_container {
        flex-direction: column;
    }
}

.strengths_text {
    font-size: 20px;
    color: #333;
    margin-top: 40px;
    line-height: 2;
}

@media screen and (max-width: 1024px) {
    .strengths_text {
        font-size: 16px;
    }
}

.strengths_triangle {
    width: 500px;
    height: 500px;
    position: relative;
}

.strengths_triangle::before {
    background-image: url("/images/Ellipse7.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 150px;
    left: -10px;
    width: 500px;
    height: 500px;
    z-index: -1;
}

.element {
    top: 50%;
    left: 50%;
    font-family: 'Outfit', sans-serif;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #333;
    opacity: 0.1;
}

.strengths_triangle_center {
    width: 392px;
    height: 392px;
    border-radius: 50%;
    background-color: #F2F2EA;
    color: #333;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    font-weight: bold;
}

.strengths_triangle_item {
    width: 210px;
    height: 210px;
    border-radius: 50%;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
}

.strengths_triangle_top {
    position: absolute;
    top: -50px;
    left: 50%;
    transform: translateX(-50%);
}

.strengths_triangle_left {
    position: absolute;
    bottom: 0;
    left: -50px;
}

.strengths_triangle_right {
    position: absolute;
    bottom: 0;
    right: -50px;
}

/* services */

.services {
    background-color: #333;
    color: #FFF;
    border-radius: 30px;
    padding: 100px 0 130px;
}

.services_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.services_button {
    background-color: #FFF;
    color: #333;
}

.services_title {
    font-size: 28px;
    margin: 60px 100px 40px;
}

@media screen and (max-width: 768px) {
    .services_title {
        margin-inline: 0;
    }
}

.services_text {
    font-size: 20px;
    margin: 0 100px;
}

@media screen and (max-width: 768px) {
    .services_text {
        margin-inline: 0;
    }
}

.services_grid {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2列の固定レイアウト */
    gap: 40px 80px; /* 縦 40px, 横 80px の間隔を設定 */
    margin-top: 60px;
}

@media screen and (max-width: 768px) {
    .services_grid {
        display: block;
    }
}

.services_grid_item {
    padding: 20px;
    border-bottom: 1px solid #FFF;
}

.services_number {
    color: #333;
    font-size: 16px;
    margin-bottom: 20px;
    background-color: #F7E40B;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* projects */
.projects {
    padding: 130px 0; 
    position: relative;
}

.projects::before {
    background-image: url("/images/Ellipse6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 800px;
    left: 0;
    width: 330px;
    height: 330px;
    z-index: -1;
}

.projects_items {
    position: relative;
    display: flex;
    gap: 100px;
    margin-top: 60px;
}

.projects_img {
    position: sticky;
    top: 100px;
    width: 50%;
    height: calc(100vh - 200px);
    object-fit: cover;
    border-radius: 10px;
}

.projects_item {
    width: 100%;
    padding: 40px;
    border-radius: 10px;
    margin-bottom: 40px;
    opacity: 1;
    transform: translateY(20px);
    transition: opacity 0.5s ease, transform 0.5s ease;
    position: relative;
    z-index: 1;
}

.projects_item.show {
    opacity: 1;
    transform: translateY(0);
}

.projects_item_title {
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #333;
}

.projects_item_text {
    font-size: 16px;
    color: #666;
    margin-bottom: 20px;
}

.projects_item_description {
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #333;
}

.projects_item_button {
    background-color: #333;
    color: #FFF;
}

.projects_services {
    margin-top: 30px;
    background-color: #F2F2EA;
    border-radius: 20px;
    padding: 20px;
}

.projects_services-title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
    color: #333;
}

.projects_service-list {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px 30px;
}

.projects_service-list li {
    margin-bottom: 10px;
    padding-left: 20px;
    position: relative;
    color: #333;
}

.projects_service-list li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #333;
}

/* members */

.members {
    position: relative;
    padding-bottom: 100px;
}

.members_inner {
    margin-right: 0;
    margin-left: max(calc((100vw - 1180px) / 2), calc((100vw - 80%) / 2));
    width: 100%;
}

.members::before {
    background-image: url("/images/Ellipse6.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: "";
    position: absolute;
    top: 150px;
    left: 0;
    width: 330px;
    height: 330px;
    z-index: -1;
}

.members_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
}

.members_item {
    background-color: #FFF;
    border-radius: 30px;
    width: 385px;
    height: 450px;
    padding: 40px;
    position: relative;
}

.members_item:nth-child(2n) {
    margin-top: 40px;
}

.members_item_number {
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: 48px;
}

.members_item_img {
    display: block;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 30px;
    margin: 0 auto;
}

.members_item_text {
    width: fit-content;
    margin: 12px auto 0;
}

.members_item_position, .members_item_role {
    line-height: 1.6;
}

.members_item_name {
    font-size: 36px;
    font-family: 'Outfit', sans-serif;
}

.members_items {
    position: relative;
    overflow: hidden;
    padding: 20px 0;
}

.members_items_container {
    display: flex;
    gap: 40px;
    overflow: hidden;
    padding: 0 20px;
    transition: transform 0.3s ease;
}

.members_navigation_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
}

.members_navigation {
    display: flex;
    gap: 24px;
    width: fit-content;
    justify-content: space-between;
    pointer-events: none;
    z-index: 1;
    width: fit-content;
}

.members_navigation_button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    color: #333;
    background-color: #F7E40B;
    border: 1px solid #F7E40B;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    transition: all 0.3s ease;
}


.members_navigation_button:hover {
    background-color: #333;
    color: #fff;
    border-color: #333;
}

.members_indicator {
    display: flex;
    justify-content: center;
    gap: 8px;
    margin-top: 20px;
}

/* blog */

.blog_container {
    display: flex;
    justify-content: space-between;
    gap: 95px;
}

.blog_container_left {
    background-color: #F2F2EA;
    width: 45%;
    height: 583px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    padding-top: 60px;
}

.blog_container_left_top {
    width: fit-content;
    margin: 0 auto;
}

.blog_container_left_top_text {
    margin-bottom: 60px;
}

.blog_button {
    background-color: #333;
    color: #FFF;
}

.blog_items {
    padding: 56px 0;
}

.blog_item {
    border-bottom: 1px solid #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 130px;
}

.blog_item_text_top {
    display: flex;
    justify-content: start;
    align-items: center;
    padding-top: 40px;
}

.blog_item_date {
    font-size: 14px;
}

.blog_item_category {
    font-size: 14px;
    background-color: #F7E40B;
    border-radius: 20px;
    padding: 4px 12px;
    margin-left: 20px;
}

.blog_item_title {
    font-size: 18px;
    padding: 20px 0 40px;
}


/* animation */
/* .section_title {
    font-size: 48px;
    font-weight: bold;
    font-family: "Noto Sans JP", sans-serif;
    background: linear-gradient(270deg, #F7E40B, #333333);
    background-size: 600% 600%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: gradientShift 4s ease;
  }

@keyframes gradientShift {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
} */

/* .mission_button {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #ffffff;
    background-color: #333;
    position: relative;
    transition: color 0.5s ease;
}
  
.mission_button:hover {
    color: #ffffff;
}

.mission_button .button_arrow-left {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mission_button:hover .button_arrow-left {
    opacity: 1;
}

.mission_button .button_arrow-right {
    opacity: 1;
}

.mission_button:hover .button_arrow-right {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.mission_button:hover::before {
    transform: scaleX(1);
    transform-origin: right;
}
  
.mission_button::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background: #F7E40B;
    border-radius: 40px;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.5s ease;
    transition-property: transform;
}
  
span {
    position: relative;
}

 */
