body {
    font-family: 'Noto Sans JP', sans-serif;
    background-color: #FAFAF8;
}

/* フォント専用クラス */
.font_noto {
    font-family: 'Noto Sans JP', sans-serif;
}

.font_outfit {
    font-family: 'Outfit', sans-serif;
} 

/* 共通 */
.section_title {
    font-size: 72px;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    color: #333;
}

.section_text {
    font-size: 16px;
    font-weight: bold;
    font-family: 'Noto Sans JP', sans-serif;
    color: #333;
    margin-top: 8px;
}

.section_text_white {
    color: #FFF;
}

.section_title_white {
    color: #FFF;
}

.button {
    border-radius: 100px;
    font-size: 14px;
    font-weight: bold;
    padding: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: end;
    gap: 8px;
    width: 200px;
}

.button_arrow {
    font-size: 12px;
    margin-left: 25px;
}


/* header */
.header {
    position: relative;
}

.header_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.header_logo {
    margin-left: 48px;
}

.header_background-top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

.header_background {
    position: absolute;
    top: -150px;
    left: -50px;
    z-index: -1;
}

.header_right_container {
    display: flex;
    align-items: center;
    padding: 16.5px 0;
}

.header_menu {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.header_menu_link {
    font-family: 'Outfit', sans-serif;
    margin-right: 36px;
}

.header_icon {
    margin-right: 48px;
}

/* inner */
.inner {
    width: 1180px;
    margin: 0 auto;
    position: relative;
}

@media screen and (max-width: 1180px) {
    .inner {
        width: 100%;
        padding: 0 20px;
    }
}
/* footer */
.contact {
    /* background-color: #333; */
    background-image: url("../images/contact_image.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 583px;
    color: #FFF;
    border-top-right-radius: 100px;
    border-top-left-radius: 100px;
}

.contact_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1160px;
    padding: auto;
    padding-top: 250px;
}

.contact_button {
    background-color: #FFF;
    color: #333;
}


.footer {
    background-color: #333;
    color: #FFF;
    padding: 100px 0;
}   

.footer_container {
    display: flex;
    justify-content: space-between;
}

.footer_menu {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2列のグリッド */
    column-gap: 120px; /* 横の間隔を120pxに設定 */
    row-gap: 40px; /* 縦の間隔を40pxに設定 */
}

.footer_menu_item_title {
    font-size: 32px;
    font-family: 'Outfit', sans-serif;
}

.footer_menu_item_text {
    font-size: 12px;
}


