/* 共通 */
.about_title {
    background-color: #333;
    font-size: 64px;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    font-family: 'Outfit', sans-serif;
    background-image: url("/images/Ellipse6.png");
    background-position: left top;
    background-repeat: no-repeat;
    background-size: 180px 100px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    /* Firefox対応 */
    background-clip: text;
}

@media screen and (max-width: 1024px) {
    .about_title {
        font-size: 48px;
    }
}

.subtitle_point {
    display: inline-block;
    background-color: #F7E40B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

.section_text {
    margin-top: 60px;
    width: 60%;
}

.section_text_title {
    font-size: 40px;
    font-weight: 500;
    line-height: 160%;
}

@media screen and (max-width: 1024px) {
    .section_text_title {
        font-size: 32px;
    }
}

.section_text_description { 
    font-size: 20px;
    line-height: 180%;
    margin-top: 32px;
}

/* fv */
.fv {
    margin-top: 100px;
}

.fv_title {
    font-size: 120px;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    color: #333;
}

@media screen and (max-width: 1024px) {
    .fv_title {
        font-size: 80px;
    }
}

@media screen and (max-width: 768px) {
    .fv_title {
        font-size: 64px;
    }
}

.fv_subtitle {
    font-size: 14px;
    width: fit-content;
    line-height: 30px;
    height: 30px;
}

.fv_img {
    margin-top: 60px;
    border-radius: 10px;
    width: 100%;
    margin-inline: auto;
    max-width: 1160px;
}

/* mission */
.mission {
    margin-top: 130px;
}
.mission_inner {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .mission_inner {
        flex-direction: column;
    }

    .mission_text {
        width: 100%;
    }

    .mission_text_title {
        font-size: 24px;
    }

    .mission_text_description {
        font-size: 16px;
    }
}

/* vision */
.vision {
    margin-top: 100px;
}

.vision_inner {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 768px) {
    .vision_inner {
        flex-direction: column;
    }
    
    .vision_text {
        width: 100%;
    }

    .vision_text_title {
        font-size: 24px;
    }

    .vision_text_description {
        font-size: 16px;
    }
}


/* values */
.values {
    margin-top: 130px;
}

.values_title {
    background-color: #fff;
}

.values_background {
    background-color: #333333;
    color: #ffffff;
    padding-block: 100px 240px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}

.values_items {
    margin-top: -200px;
    width: min(calc(100% - 160px), calc(100vw - (100vw - 1180px) / 2));
    background-color: #ffffff;
    color: #333333;
    padding: 40px 0 80px min(130px, 10%);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    .values_items {
        width: 95vw;
    }
}

@media screen and (max-width: 768px) {
    .values_items {
        width: 100%;
        border-radius: 30px;
        padding-inline: 5%;
    }
}

.values_item {
    padding-block: 40px;
    border-bottom: 1px solid #333333;
}

@media screen and (max-width: 1024px) {
    .values_item {
        padding-block: 30px;
    }
}

.values_item_title {
    font-size: 40px;
    font-weight: 500;
    line-height: 160%;
}

@media screen and (max-width: 1024px) {
    .values_item_title {
        font-size: 32px;
    }
}

@media screen and (max-width: 768px) {
    .values_item_title {
        font-size: 24px;
    }
}

.values_item_description {
    font-size: 14px;
    line-height: 180%;
    margin-top: 32px;
}

@media screen and (max-width: 768px) {
    .values_item_description {
        font-size: 16px;
    }
}

/* company */
.company {
    margin-block: 130px;
}

.company_items {
    width: 80%;
    margin-left: auto;
}

@media screen and (max-width: 1024px) {
    .company_items {
        width: 100%;
    }
}

.company_item {
    display: flex;
    justify-content: space-between;
}

.company_item_text {
    line-height: 160%;
}

.company_item_label {
    width: 20%;
    border-bottom: 2px solid #ACACAC;
    padding-block: 32px;
}

@media screen and (max-width: 768px) {
    .company_item_label {
        width: 40%;
    }
}

.company_item_value {
    text-align: left;
    width: 80%;
    border-bottom: 2px solid #DDDDDD;
    padding-block: 32px;
}









