/* fv */   
.fv {
    margin-top: 100px;
}

.fv_title {
    font-size: 120px;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    color: #333;
}

.fv_subtitle {
    font-size: 14px;
    width: fit-content;
    line-height: 30px;
    height: 30px;
}

.subtitle_point {
    display: inline-block;
    background-color: #F7E40B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

.section_text {
    margin-top: 60px;
    width: 60%;
}

.section_text_title {
    font-size: 40px;
    font-weight: 500;
    line-height: 160%;
}

.section_text_description { 
    font-size: 20px;
    line-height: 180%;
    margin-top: 32px;
}

/* blog */
.blog {
    margin-top: 80px;
    padding-bottom: 130px;
}

.blog_inner {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.blog_category {
    width: 15%;
}

.blog_category_title {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.blog_category_list {
    padding-top: 20px;
}

.blog_category_list_item {
    line-height: 160%;
    margin-bottom: 8px;
}

.blog_detail_info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.blog_detail_info_date {
    font-size: 15px;
    font-weight: 500;
}

.blog_detail_info_category {
    background-color: #F7E40B;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 20px;
}

.blog_detail_content_title_large {
    font-size: 28px;
    font-weight: 700;
    line-height: 160%;
}

.blog_detail_content_title_middle {
    font-size: 24px;
    font-weight: 700;
    line-height: 160%;
    border-bottom: 4px solid #F7E40B;
    background-color: #F2F2EA;
    height: 66px;
    line-height: 62px;
    padding-left: 24px;
    margin-top: 64px;
}

.blog_detail_content_title_short {
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 160%;
    border-left: 4px solid #F7E40B;
    height: 24px;
    align-items: center;
    padding-left: 16px;
    margin-top: 64px;
}

.blog_detail_content_img {
    width: 800px;
    height: 400px;
    object-fit: cover;
    margin-top: 32px;
}

.blog_detail_content_text_large {
    margin-top: 28px;
}

.blog_detail_content_text_middle {
    margin-top: 24px;
}

.blog_detail_content_text_short {
    margin-top: 16px;
}


