.subtitle_point {
    display: inline-block;
    background-color: #F7E40B;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 10px;
    margin-top: 10px;
}

.section_text {
    margin-top: 60px;
    width: 60%;
}

.section_text_title {
    font-size: 40px;
    font-weight: 500;
    line-height: 160%;
}

.section_text_description { 
    font-size: 20px;
    line-height: 180%;
    margin-top: 32px;
}

/* fv */
.fv {
    margin-top: 100px;
}

.fv_title {
    font-size: 120px;
    font-weight: 500;
    font-family: 'Outfit', sans-serif;
    color: #333;
}
.fv_subtitle {
    font-size: 14px;
    width: fit-content;
    line-height: 30px;
    height: 30px;
}

/* blog */
.blog {
    margin-top: 80px;
}

.blog_inner {
    display: flex;
    justify-content: space-between;
    gap: 200px;
}

.blog_category {
    width: 15%;
}

.blog_category_title {
    font-size: 24px;
    font-weight: 500;
    border-bottom: 1px solid #333;
    padding-bottom: 20px;
}

.blog_category_list {
    padding-top: 20px;
}

.blog_category_list_item {
    line-height: 160%;
    margin-bottom: 8px;
}

.blog_list {
    width: 75%;
}

.blog_list_item {
    display: flex;
    justify-content: space-between;
    padding-block: 40px;
    align-items: center;
    gap: 40px;
    border-bottom: 1px solid #ACACAC;
}

.blog_list_item_info {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 20px;
}

.blog_list_item_info_date {
    font-size: 15px;
    font-weight: 500;
}

.blog_list_item_info_category {
    background-color: #F7E40B;
    font-size: 12px;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 20px;
}

.blog_list_item_title {
    font-size: 18px;
    font-weight: 500;
    line-height: 160%;
    margin-top: 8px;
}